
<!-- This will start the PAN joint controller -->
<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(find face_tracker_control)/config/pan.yaml" command="load"/>
    <rosparam file="$(find face_tracker_control)/config/servo_param.yaml" command="load"/>

    <node name="tilt_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_port
                pan_controller"
          output="screen"/>
</launch>
